.HC{
    background-color: rgb(23, 3, 54);
    height: auto;
    padding-top: 50px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
.Left{
    max-width: 40%;
    
}
.vl{
    
    height: 625px;
}
.myimg{
    margin: 30% 10% 10% 15%;
    transition: 1s ease;
    border: 5px solid #ff3131;
}
.myimg:hover{
    border-radius:50%;
    transition: 1s ease;
    box-shadow: 0 0 10px #ff3131,
                 0 0 20px #ff3131, 
                 0 0 40px #ff3131;
}
.btn{
    border: 3px solid #ff3131;
    
    margin-left: 3rem;
    width: 100px;
    background-color: #ff3131;
    color: white;
    border-radius: 8px;
}
.btn-cont{
    width: 100%;
    margin-left: 2rem;
    
}
.btn:hover{
    border-radius: 8px;
    transform: scale(1.5);
    transition: 1s ease;
    box-shadow: 0 0 10px #ff3131,
                 0 0 20px #ff3131, 
                 0 0 40px #ff3131;
}
.right-cont{
    max-width: 50rem;
    margin: 11.5% 10% 10% 20%;
    border: 2px solid rgb(255, 255, 255);
    height: auto;
    color: white;
}
.right-cont>.occ{
    margin-top: 30px;
    align-items: center;
    margin-left: 25px;
}

.right-cont>.occ:hover{
    color: #fff;
  text-shadow: 0 0 10px #fff,
               0 0 20px #fff, 
               0 0 40px #fff;
               transition: 1s ease;
}
.desc{
    
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 4rem;
    padding-bottom: 5rem;
}
.name:hover{
    color: #fff;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff, 
                 0 0 40px #fff;
                 transition: 1s ease;
}
.lg{
    display: flex;
}
.lin{
    font-size: 30px;
}

@media only screen and (max-width: 600px) {
    .HC{
      flex-direction: column;
    }
  }